<router-outlet></router-outlet>

<h1>Fornite Shop</h1>
<h2>Featured Items</h2>
<main>
  <div class="entries" *ngFor="let bundle of bundles">
    <h2>{{ bundle.bundle?.name }}</h2>
    <div class="entry">
      <div class="bundle">
        <div class="img-container">
          <img
            class="bundle-img"
            src="{{ bundle.bundle?.image }}"
            alt="Bundle Image"
          />
        </div>
        <p>Regular Price: {{ bundle.regularPrice }}</p>
        <p>Final Price: {{ bundle.finalPrice }}</p>
      </div>
      <div class="item" *ngFor="let item of getBundleItems(bundle)">
        <div class="img-container">
          <img
            [src]="getFirstItemImageSrc(item)"
            style="background-size: cover"
          />
        </div>

        <p>Item name - {{ item.items?.[0]?.name }}</p>
        <p>Regular Price: {{ item.regularPrice }}</p>
        <p>Final Price: {{ item.finalPrice }}</p>
      </div>

      <!-- 

      @if (Model.Daily != null)
      {
          <div class="entry">
              @foreach (var entry in Model.Daily.Entries)
              {
                  @foreach (var item in entry.Items.Where(r => r.Type.Value != "backpack"))
                  {
                      <div class="item">

                          <div class="img-container">
                              <img style="background-size: cover; background-image: url(@(item.Series?.Image) )" src="@(item.Images?.Featured ?? item.Images?.Icon)" />
                          </div>
                          <p>Item name - @item.Name</p>
                          <p>Regular Price: @entry.RegularPrice</p>
                          <p>Final Price: @entry.FinalPrice</p>
                      </div>
                  }
              }
          </div>
      } -->
    </div>
  </div>
  <h1>Same Items</h1>
  <div
    class="entries"
    id="sameEntries"
    *ngFor="let sameEntries of uniqueEntries"
  >
    <div class="entry" id="sameEntry" *ngFor="let entry of sameEntries">
      <div class="item" *ngFor="let item of getItemsFromEntry(entry)">
        <div class="img-container">
          <img style="background-size: cover" [src]="getItemImageSrc(item)" />
        </div>
        <p>Item name - {{ item.name }}</p>
        <p>Regular Price: {{ entry.regularPrice }}</p>
        <p>Final Price: {{ entry.finalPrice }}</p>
      </div>
    </div>
  </div>

  <!-- <h1>Items</h1>
  <div class="entry" *ngFor="let entry of entries">
    <div class="item" *ngFor="let item of getItemsFromEntry(entry)">
      <div class="img-container">
        <img style="background-size: cover" [src]="getItemImageSrc(item)" />
      </div>
      <p>Item name - {{ item.name }}</p>
      <p>Regular Price: {{ entry.regularPrice }}</p>
      <p>Final Price: {{ entry.finalPrice }}</p>
    </div>
  </div> -->
</main>
